---

---
@charset "utf-8";

$xs-width-min: 0px;
$xs-width-max: 480px;
$sm-width-min: 481px;
$sm-width-max: 560px;
$md-width-min: 561px;
$md-width-max: 1199px;
$lg-width-min: 1200px;
$lg-width-max: 12000px;

$alt-grey-100: #3f4950;

@import "libraries/ut-branding/all";
@import "libraries/vertical-scroll-nav/all";

@import "common/all";

@import "pages/all";
