.ut-badgechain-description-container {

  color: white;
  height: 100%;
  padding: 25px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

}

.lift-logo-container {

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

}

.lift-logo-header {

  min-height: 100px;

}

@media (min-width: 901px) {

  .lift-light-bulb {

    height: 300px;
    left: 7.5%;
    position: absolute;

  }

  .lift-logo-header {

    color: white;
    background-color: transparent;
    flex-basis: 100%;
    font-weight: 300;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 33%;
    width: 66%;

    .ut-branding-lockout {

      border-bottom: 1px solid white;
      padding-bottom: 20px;
      height: 55px;
      width: 475px;
      text-align: right;

    }

    .lift-badge-chain-logo {

      font-size: 30px;
      margin: 0;
      width: 100%;

      span {

        font-weight: 100;
        text-transform: uppercase;

      }

    }


  }

  .description-box {

    color: rgba(0, 0, 0, 0.65);
    background-color: white;
    font-weight: 100;
    height: 350px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 33%;
    width: 66%;

    h3 {

      font-weight: 300;

    }

  }

}

@media (max-width: 900px) {

  .lift-light-bulb {



    width: 30%;
    display: none;

  }

  .lift-logo-header {

    color: white;
    background-color: transparent;
    flex-basis: 100%;
    font-weight: 300;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    .ut-branding-lockout {

      border-bottom: 1px solid white;
      padding-bottom: 20px;
      height: 55px;
      width: 475px;
      text-align: right;

    }

    .lift-badge-chain-logo {

      font-size: 30px;
      margin: 0;
      width: 100%;

      span {

        font-weight: 100;
        text-transform: uppercase;

      }

    }


  }

  .description-box {

    color: rgba(0, 0, 0, 0.65);
    background-color: white;
    height: 400px;
    font-weight: 100;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;

    h3 {

      font-weight: 300;

    }

  }

}

@media (max-width: 600px) {

  .lift-light-bulb {

    display: none;
    width: 20%;

  }

  .lift-logo-header {

    color: white;
    background-color: transparent;
    flex-basis: 100%;
    font-weight: 300;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    .ut-branding-lockout {

      border-bottom: 1px solid white;
      padding-bottom: 20px;
      height: auto;
      width: 100%;

    }

    .lift-badge-chain-logo {

      font-size: 30px;
      margin: 0;
      width: 100%;

      span {

        font-weight: 100;
        text-transform: uppercase;

      }

    }


  }

  .description-box {

    color: rgba(0, 0, 0, 0.65);
    background-color: white;
    font-weight: 100;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    height: 500px;

    h3 {

      font-weight: 300;

    }

  }

}

@media (max-width: 400px) {

  .ut-badgechain-description-container {

    padding: 0;
    margin-top: 20px;

  }

  .lift-light-bulb {

    display: none;

  }

  .lift-logo-header {

    color: white;
    background-color: transparent;
    flex-basis: 100%;
    font-weight: 300;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    .ut-branding-lockout {

      border-bottom: 1px solid white;
      padding-bottom: 20px;
      height: auto;
      width: 100%;

    }

    .lift-badge-chain-logo {

      font-size: 30px;
      margin: 0;
      width: 100%;

      span {

        font-weight: 100;
        text-transform: uppercase;

      }

    }


  }

  .description-box {

    color: rgba(0, 0, 0, 0.65);
    background-color: white;
    font-weight: 100;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;

    h3 {

      font-weight: 300;

    }

  }

}