<header>

  <nav role="navigation" class="navbar-container ut-color purple-100">

    <div class="navbar-logo-container ut-color purple-100">

      <!-- <img src="/images/badgechain-logo.png" class="navbar-logo-image"> -->
      <a href="/" class="navbar-title"><strong>UT</strong><span class="navbar-title-thin">BadgeChain</span></a>

    </div>

    <div class="navbar-menu-container ut-color purple-50">
      
      <ul>
        <li><a href="/blog" class="navbar-menu-item">Blog</a></li>
        <li><a href="/about" class="navbar-menu-item">About</a></li>
        <li><a href="/open-badges" class="navbar-menu-item">OpenBadges</a></li>
        <li><a href="/blockchains" class="navbar-menu-item">Blockchains</a></li>
        <li><a href="/makerspaces" class="navbar-menu-item">Makerspaces</a></li>
        <!-- <li><a class="navbar-menu-item">Extended Transcripts</a></li> -->
      </ul>

    </div>

  </nav>

</header>
