<header class="ut-header">

	<div class="row row-background-burnt-orange">

		<div class="ut-header-banner-container">

			<a href="http://utexas.edu">

				<img class="ut-knockout-logo">

			</a>

		</div>

	</div>

	<div class="row">

		<div class="ut-header-logo-container">

			<h1>BadgeChain Project</h1>

		</div>

	</div>

	<div class="row">

		<nav class="ut-header-nav-container" role="navigation">

			<ul class="ut-header-nav-menu" role="menu">

				<li class="ut-header-nav-menuitem" role="menuitem">

					<h4>
						<a class="ut-header-nav-menuitem-link" href="{{ site.github.url }}/about">About</a>
					</h4>

				</li>

				<li class="ut-header-nav-menuitem" role="menuitem">

					<h4>
						<a class="ut-header-nav-menuitem-link" href="{{ site.github.url }}/blog">Blog</a>
					</h4>

				</li>

				<li class="ut-header-nav-menuitem" role="menuitem">

					<h4>
						<a class="ut-header-nav-menuitem-link" href="{{ site.github.url }}/api">API</a>
					</h4>

				</li>

				<li class="ut-header-nav-menuitem" role="menuitem">

					<h4>
						<a class="ut-header-nav-menuitem-link" href="{{ site.github.url }}/blockchain">Blockchain</a>
					</h4>

				</li>

			</ul>

		</nav>

	</div>

</header>