@import 'configuration-vars';

.body-container {

	display: block;
	margin-right: auto;
  	margin-left: auto;
  	width: 100%;

}

@media (min-width: 768px) {
  .body-container {
    width: $sm-width;
  }
}
@media (min-width: 992px) {
  .body-container {
    width: $md-width;
  }
}
@media (min-width: 1200px) {
  .body-container {
    width: $lg-width;
  }
}