$ut-color-burnt-orange: #BF5700;
$ut-color-blue-grey: #333F48;
$ut-color-blue: #005F86;
$ut-color-green: #43695B;
$ut-color-yellow: #F2A900;
$ut-color-purple: #382F2D;
$ut-color-grey: #D6D2C4;

$logo-url: 'http://president.utexas.edu/profiles/utexas/themes/forty_acres/img/general/knockout_university_informal_horizontal_padded.svg';

$lg-width: 1165px;
$md-width: 965px;
$sm-width: 745px;
$xs-width: 100%;