@import 'configuration-vars';



header {

	background-color: #FFFFFF;
	border-bottom: 1px solid rgba(100, 100, 100, 0.3);
	height: 100%;
	z-index: 100;

}

.row-background-burnt-orange {

	background-color: $ut-color-burnt-orange;

}

.ut-header-banner-container {

	align-items: center;
	display: flex;
	height: 34px;
	justify-content: flex-end;
	margin-right: auto;
  margin-left: auto;

}

.ut-header-logo-container {

	align-items: center;
	display: flex;
	justify-content: flex-start;
	margin-right: auto;
  	margin-left: auto;

}

.ut-header-nav-container {

	display: block;
	margin-right: auto;
  margin-left: auto;
  width: 100%;

}
@media (max-width: 767px) {
  .ut-header-banner-container {
    justify-content: center;
    padding: 0 30px;
    width: $xs-width;
  }
  .ut-header-logo-container {
    padding: 0 30px;
    width: $xs-width;
  }
  .ut-header-nav-container {
    padding: 0 30px;
    width: $xs-width;
  }
}

@media (min-width: 768px) {
  .ut-header-banner-container {
    justify-content: center;
    width: $sm-width;
  }
  .ut-header-logo-container {
  	width: $sm-width;
  }
  .ut-header-nav-container {
  	width: $sm-width;
  }
}
@media (min-width: 992px) {
  .ut-header-banner-container {
    justify-content: center;
    width: $md-width;
  }
  .ut-header-logo-container {
  	width: $md-width;
  }
  .ut-header-nav-container {
  	width: $md-width;
  }
}
@media (min-width: 1200px) {
  .ut-header-banner-container {
    justify-content: flex-end;
    width: $lg-width;
  }
  .ut-header-logo-container {
  	width: $lg-width;
  }
  .ut-header-nav-container {
  	width: $lg-width;
  }
}

.ut-header-nav-menu {

	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0;

}

.ut-header-nav-menuitem {

	align-items: center;
	display: flex;
	height: 42px;
	justify-content: center;
	line-height: 1.125rem;
	position: relative;

}

.ut-header-nav-menuitem-link {

	color: #000000;
  text-decoration: none;
	text-transform: uppercase;

}

.ut-header-nav-menuitem-link:hover {

  color: $ut-color-burnt-orange;
  text-transform: uppercase;

}

.ut-knockout-logo {

	content: url($logo-url);
	height: 26px;

}
