{% for person in site.data.advisory %}

  <div id="{{person.slug}}" class="person-container">

    <div class="person-content-container ut-color blue-grey-100">

      {% if person.link != null %}

        <a class="person-image" href="{{ person.link }}" target="_blank" style="background-image:url('{{person.image}}')"></a>

      {% else %}

        <div class="person-image" style="background-image:url('{{person.image}}')"></div>

      {% endif %}

      <div class="person-name">{{person.name}}</div>

      {% for affiliation in person.affiliation %}

        <div class="person-title">{{affiliation}}</div>

      {% endfor %}

      <div class="person-organization">{{person.organization}}</div>

    </div>

  </div>

{% endfor %}
