<p class="section-content-text">
  New technologies will allow institutions to record, protect, and present new forms of evidence of learning. In addition to the traditional degree and major, new education "artifacts" such as certificates, badges, or other forms of micro-credentials will communicate more clearly what the student has learned and can do. This project builds off of the OpenBadges initiative and embeds this data as an encrypted record. Later we will explore placing this encrypted badge metadata within an open ledger, maintained in a distributed database.
</p>

<p class="section-content-text">
  The test cases for this experiment will be drawn from the integration and demonstration of knowledge that is required in the conceptualization, design, building of tangible solutions to problems that take place in selected Cockrell College of Engineering baccalaureate courses. These will be drawn from makerspace design/build projects introduced into existing assignments during the early years of a student's engineering degree program. In addition, designing safety oriented qualification criteria leading to badges that enable student automated & logged access to makerspace equipment accepted across different campus and related town makerspaces are planned.
</p>

<p class="section-content-text">
  Having visible evidence of student learning, intended to stand alone as evidence of learning adds depth and value to the traditional academic record of accomplishment, the academic transcript. This connect to the movement to <i>extend</i> transcripts by inclusion of artfacts that show the a particular assignd grade in a course 'looks like.
</p>

<p class="section-content-text">
  Finally, just as the work of faculty, an institution of higher education contributes a legacy of output that represents their contributions to their intellectual contribution to the unversity, usually collected and curated by the university library in a digital repository of faculty work, this project seeks to create a prepresentative sample of student intellectual contributions on their journey to become a baccalaueate.
</p>
