{% for person in site.data.people %}

  <div id="{{person.slug}}" class="person-container">

    <div class="person-content-container ut-color blue-grey-100">

      <div class="person-image" style="background-image:url('{{person.image}}')"></div>

      <div class="person-name">{{person.name}}</div>

      {% for title in person.title %}

        <div class="person-title">{{title}}</div>

      {% endfor %}

      {% for organization in person.organization %}

        <div class="person-organization">{{organization}}</div>

      {% endfor %}

    </div>

  </div>

{% endfor %}
