<p class="section-content-text">
  A blockchain is a distributed database, often refered to as a <i>ledger</i>, which records ownership and value. Depending on the implementation, the distributed ledger entries may be written into many distinct copies of the database with some data publicly accessible and others not. Alternately it may be in a restricted environment requiring specific permissions to access and read the records. These distributed databases are called blockchains, and have their integrity verified through some form of consensus mechanism among the parties invovled. When a database commit takes place, it is encrypted in such a way that it cannot be altered and, after its integrity is checked, the update is approved.
</p>

<p class="section-content-text">
  Currently we are exploring the running of Ethereum and Bitcoin nodes, while tracking the Hyperledger Fabric development.
</p>
