<div class="lift-container ut-color burnt-orange-100">

  <div class="lift-header">

    <div class="lift-logo-container">

      <div class="ut-branding-lockout"></div>

      <h3>Longhorn Innovation Fund for Technology</h3>
      <h3>2016 - 2017</h3>

    </div>

    <div class="lift-light-bulb-container">

      <img class="lift-light-bulb" src="../../images/lift-logo.svg">

    </div>


  </div>

  <div class="lift-description">

    <div class="lift-badge-chain-logo"><strong>UT</strong><span>BadgeChain</span></div>

    <p>
      The UTBadgeChain project is supported by the Longhorn Innovation Fund for Technology (<a href="https://cio.utexas.edu/itgovernace/lift">LIFT</a>), a fund of approximately $500,000 that is awarded by the University of Texas Research &amp; Education Technology Committee (R&amp;E) to innovate academic technology projects that leverage information technology in order to imporve quality of instruction, create a differentiator for attracting higher caliver students to the University, or result in a competitive advantage to the University in attracting sponsored research.
    </p>

  </div>

</div>


