<p class="section-content-text">
  OpenBadges are not just visual symbols of accomplishment. They contain detailed descriptions of learner achievements and lead to evidence of an individual's activites that earned the badge.
</p>

<p class="section-content-text">

  We are pleased to partner with the open source <a href="http://info.badgr.io">Badgr</a> software team, supported by Concentric Sky, and the lead developer and software architect for it Nate Otto. Badgr is OBI compliant and allows us to recognize learning achievements and their context.

</p>

<p class="section-content-text">

    We are also working closely with <a href="http://imsglobal.org">IMSGLOBAL</a>  both in their Compentency-based Education initiative and with their Open Badge Education extensions work.

</p>

<p class="section-content-text">

    Badges provide a useful metadata framework for recognizing learning, its context, and linking to the evidence by which assessed accomplishments where awarded.

</p>

<p class="section-content-text">
  OpenBadges have at least three main types of core badge objects:
</p>

<ul>

  <li><strong>Assertions</strong> Representations of an awarded badge, used to share information aobut a badge belonging to one earner;</li>

  <li><strong>BadgeClass</strong> A collection of information about the accomplishment recognized by the OpenBadge;</li>

  <li><strong>Issuer Profile</strong> A collection of information about the entity or organization issuing the OpenBadge. Each issuer may correspond to many BadgeClasses.</li>

</ul>

<p class="section-content-text">
  A full description of the metadata can be found at the <a href="https://openbadgespec.org/">OpenBadges website</a>.

</p>
