$ut-color-list: (
  burnt-orange: #BF5700,
  blue-grey:    #333F48,
  'blue':       #005F86,
  'green':      #43695B,
  'yellow':     #F2A900,
  'purple':     #382F2D,
  'tan':        #D6D2C4,
  'magenta':    #B7325B
);

$tint-percentages: 100.0 75.0 50.0 25.0;
